span.dice-roll {
	cursor: text;
}

.dice-roll.advantage {
	text-decoration: overline;
}

.dice-roll.disadvantage {
	text-decoration: underline;
}

div.letter {
    background: var(--sidebar-bg);
    padding: 5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    font-family: monospace, system-ui;
    font-size: 80%;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.letter time {
	display: block;
	text-align: right;
	margin-bottom: 5rem;
}

div.letter adress {
	display: block;
	margin-bottom: 3rem;
}

div.letter p {
	line-height: 1.9em;
}

div.letter img {
	border-radius: 0;
}

div.letter.signature img {
	width: 65%;
}

html.rust div.letter {
	background: #FFFFF8;
}

html.coal div.letter img,
html.navy div.letter img,
html.ayu div.letter img,
html.frappe div.letter img,
html.macchiato div.letter img,
html.mocha div.letter img {
	filter: invert(100%);
}
