name: Deploy
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: ganehag/mdbook-plugins:2024-01-29.1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build mdBook
        run: |
          mdbook build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          cname: panoptikongame.com
